.slider-container {
  .slide {
    height: 400px;
    border-radius: 6px;

    .legend {
      font-size: 24px !important;
    }
    &.slide-1 {
      background: blue;
    }
    &.slide-2 {
      background-color: rgb(100, 221, 23);
    }
    &.slide-3 {
      background-color: rgb(171, 71, 188);
    }
  }
}
